<div class="topbar">            
    <!-- Navbar -->
    <nav class="navbar-custom" id="navbar-custom">    
        <ul class="list-unstyled topbar-nav float-end mx-5">
           
    
        

         
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <img src="{%if user.profile_picture%} {{user.profile_picture}}{%else%}https://techcentereurope.com/panel/assets/upload/default/default-profile.jpg {% endif %}" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                        <div>
                            <small class="d-none d-md-block font-11">{{user.groups.all.0.name}}</small>
                            <span class="d-none d-md-block fw-semibold font-12">{{user.first_name}} {{user.last_name}}<i
                                    class="mdi mdi-chevron-down"></i></span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{%url 'profile'%}"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>

                  
                    <div class="dropdown-divider mb-0"></div>
                    <form method="post" action="{%url 'logout'%}">
                    {% csrf_token %}
                    <button class="dropdown-item" href="#" type="submit"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</button>
                    </form>
                </div>
            </li><!--end topbar-profile-->
       
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">                        
            <li>
                <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                    <i class="ti ti-menu-2"></i>
                </button>
            </li> 
                            
        </ul>
    </nav>
    <!-- end navbar-->
</div>